/* ============== COMMON STYLES ============== */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

/* ============== COMMON STYLES ============== */

.container {
        width: 1440px;
        padding: 0 15px;
      
        .styles {
            
        }
}
.hero {
 padding: 188px 0;
background-image: 
url(../img/burg-bg.jpg);
background-repeat: no-repeat;
margin-right: auto;
margin-left: auto;
background-position: center;
width: 1440px;
height: 856px;
background-size: cover;
}
   
.logo {
        position: absolute;
        top: 0;  
       margin-top: 28px;
       margin-left: 165px;
    }

.logotype {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  padding: 17px 0;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #FFBE1A;
}

.header-span {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #ffffff;
}

 .main-title {
        margin-bottom: 48px;
        margin-top: 165px;  
}

.main-title {
font-family: Montserrat;
font-size: 128px;
font-weight: 600;
line-height: 1.06;
text-align: left;
max-width: 540px;
color: #FFFFFF;
}

.second-title {
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 1.7; 
letter-spacing: 0.05em;
color: #FFF;
width: 541px;
}

.order-service-btn{
color: #1E1E1E;
font-family: Montserrat;
font-size: 18px;
font-weight: 800;
line-height: 1.7em; 
display: flex;
padding: 16px 60px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #FFBE1A;
margin-top: 60px;
}

.order-service-btn:hover,
.order-service-btn:focus {
 border: 1px solid #f5ab3b;
 background: #f8d47a;
}

/* VIDEO  */
.video-reklame {

height: 467px;
border-radius: 10px;
background: #1B1B1B;
 margin-right: auto;
margin-left: auto;
width: 1440px;
}

.btn-by {
    color: #1E1E1E;
font-family: Montserrat;
font-size: 18px;
font-weight: 800;
line-height: 1.7em; 
display: flex;
padding: 16px 60px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #FFBE1A;
margin-top: 60px;
}

.button-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1020px; 
            margin: 0 auto; 
            background: #1B1B1B;   
        }

.button {
width: 255px;
 height: 60px;
margin-bottom: 16px; 
display: flex;
align-items: center;
justify-content: center;
border: 1px solid #ccc; 
gap: 30px;
border-radius: 8px;
border: 1px solid #FFBE1A;
background: #FFF;
}

.button:hover,
.button:focus {
 border: 1px solid #f5ab3b;
 background: #f8d47a;
}

.button-section {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background: #1B1B1B;
width: 1440px;
margin-right: auto;
margin-left: auto;
}

.container-om-os {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background: #1B1B1B;
width: 1440px;
margin-right: auto;
margin-left: auto;
height: 587px;
}  

.text {
max-width: 1440px;
margin-right: 20px;
}

.om-os-main {        
color: #FFBE1A;
font-family: Roboto;
font-size: 40px;
font-weight: 500;
letter-spacing: -0.4px;
text-transform: uppercase; 
text-align: center;
justify-content: center;
align-items: center;
}

.om-os-text {
color: #FFF;
font-family: Montserrat;
font-size: 18px;

font-weight: 400;
line-height: 140%;
letter-spacing: -0.18px;
width: 520px;
background-color: #1E1E1E;
margin-bottom: 30px;
margin-top: 40px;
}
        
.kunder-siger {
color: #FFBE1A;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.4px;
text-transform: uppercase;
text-align: center;
background-color: #1E1E1E;
width: 1440px;
margin-right: auto;
margin-left: auto;
}

.wrapper {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
width: 1440px;
margin-right: auto;
margin-left: auto;
background-color: #1E1E1E;
border: #ccc;
}

  .card {
    display: block;
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
  } 

   .card-text {
   color: #FFF;;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
letter-spacing: -0.16px;
width: 285px;
   }

   .card-name {
   color: #FFBE1A;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.28px;
   }